<div class="container">
  <div class="header">
    <button class="register-btn">Registration</button>
    <a routerLink="/login">
      <button class="login-btn">Log In</button>
    </a>
  </div>
  <div class="banner">
  </div>
  <div class="three-phrases">
    <div class="organizer">travel organizer</div>
    <div class="easy">easy to use</div>
    <div class="forget">forget nothing</div>
  </div>
  <div class="todo">
    <i class="material-icons">add</i>
    <span class="add-todo">
      create your first travel ToDo
    </span>
  </div>
</div>
