<mat-sidenav-container class="sidenav">
  <mat-sidenav class="sidenav-bar" mode="side" opened>
    <h1 class="sidenav-bar__title">Hello Dear User!</h1>
    <div class="sidenav-bar__img"></div>
    <mat-nav-list>
      <h1>User's Trip</h1>
      <button mat-list-item class="sidenav-bar__btn" (click)="openAddTrip()"><i
        class="material-icons">add</i>{{pageName}}</button>
    </mat-nav-list>
    <div class="sidenav-bar__icons">
      <button mat-list-item class="sidenav-bar__icons-profile" (click)="openProfile()">
        <i class="material-icons icon">assignment_ind</i>
      </button>
      <button mat-list-item class="sidenav-bar__icons-signOut" (click)="signOut()">
        <i class="material-icons icon">input</i>
      </button>
    </div>
  </mat-sidenav>
</mat-sidenav-container>
