<form class="form-container">
  <h2 mat-dialog-title>New Trip</h2>
  <div mat-dialog-content class="dialog-container">
    <mat-form-field>
      <label>
        <input matInput placeholder="Title" #title required>
      </label>
    </mat-form-field>
    <mat-form-field>
      <label>
        <input matInput placeholder="Destination" #destination>
      </label>
    </mat-form-field>
    <mat-form-field>
      <label>
        <input matInput [matDatepicker]="startPicker" placeholder="Start Date">
      </label>
      <mat-datepicker-toggle matSuffix [for]="startPicker"></mat-datepicker-toggle>
      <mat-datepicker #startPicker></mat-datepicker>
    </mat-form-field>
    <mat-form-field>
      <label>
        <input matInput [matDatepicker]="endPicker" placeholder="End Date">
      </label>
      <mat-datepicker-toggle matSuffix [for]="endPicker"></mat-datepicker-toggle>
      <mat-datepicker #endPicker></mat-datepicker>
    </mat-form-field>
    <mat-form-field>
      <ngx-mat-file-input placeholder="Upload Image" [accept]="'image/*'">
      </ngx-mat-file-input>
      <mat-icon matSuffix>folder</mat-icon>
    </mat-form-field>
  </div>
  <div mat-dialog-actions class="form-submit">
    <button mat-raised-button class="form-btn" (click)="addNewTrip()">Submit</button>
    <button mat-raised-button class="form-btn" (click)="onCancelClick()">Cancel</button>
  </div>
</form>
