<form class="form-container">
  <h2 mat-dialog-title>Sign In</h2>
  <div mat-dialog-content class="dialog-container">
    <mat-form-field>
      <label>
        <input matInput placeholder="E-Mail" #userEmail required>
      </label>
    </mat-form-field>
    <mat-form-field>
      <label>
        <input matInput placeholder="Password" #userPassword type="password" minlength="8" required>
      </label>
    </mat-form-field>
  </div>
  <div mat-dialog-actions class="form-submit">
    <button mat-raised-button class="form-btn" (click)="authenticationService.signIn(userEmail.value, userPassword.value)">Sign In</button>
    <button mat-raised-button class="form-btn" (click)="onCancelClick()">Cancel</button>
  </div>
</form>


